{% extends "embeds/base.html" %}

{% block content %}

    {% if latest_embed_list %}
        {% if last_embed %}
        <h2>{{ last_embed.title }}</h2>
        <div class="video-container">
            <iframe
            src="{{ last_embed.event_url }}/embed"
            frameborder="0"
            allowfullscreen
            ></iframe>
        </div>
        {% endif %}
        
        <br><br>

    <table class="centered highlight responsive-table">
      <tr>
        <th>Titulo</th>
        <th>URL Transmicion</th>
        <th>Fecha Creacion</th>
        <th>Creado por</th>
        <th>Ultima Modificacion</th>
        <th>Modificado por</th>
        <th>Plataforma</th>
        <th>Transmicion</th>
      </tr>
      {% for item in latest_embed_list %}
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.event_url }}</td>
        <td>{{ item.creation_date }}</td>
        <td>{{ item.created_by }}</td>
        <td>{{ item.last_modification }}</td>
        <td>{{ item.last_modification_by }}</td>
        <td>{{ item.platform }}</td>
        <td>
          <a href="{% url 'embeds:detail' item.id %}">Ver Transmicion</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No hay eventos disponibles.</p>

    {% endif %}

{% endblock %}

